

* {
  /* outline: 1px solid red; */
}

body {
  margin: 0;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
  font-family: JetBrainsMono-Regular;
  src: url("/JetBrainsMono-Regular.ttf");
}
#splash-screen {
  font-family: JetBrainsMono-Regular;
  position: fixed;
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5rem;
  text-align: center;
  transition: opacity 2s ease;
}

#intro-text {
  animation: zoomIn 2s ease-out forwards;
}

#intro-text2 {
  margin-top: 20px;
  font-size: 1.5rem;
  opacity: 0;
  animation: fadeIn 2s 1s ease-out forwards;
}


.planet-card {
  color: white;
  z-index: 99;
  background-color: red;
  width: 30%;
  height: 80%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0 10px;
  overflow: auto;
  /* text-align: justify; */
  text-justify: inter-word;
  padding: 0 10px;
  overflow: auto;
  scrollbar-width: thin;
  /* text-align: justify; */
  text-justify: inter-word;

  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.card-left {
  left: 10px;
}

#planet-card-left-header {
  padding: 0 0 0 15px;
}

#planet-card-left-desc {
  font-style: italic;
  font-weight: 900;
}

.card-right {
  right: 10px;
}

#planet-card-right-image {
  margin-top: 10px;
  width: 100%;
  height: 40%;
  object-fit: cover;
}

#planet-card-right-video {
  width: 100%;
  height: 50%;
}

#close-planet-card {
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  

  justify-content: center;
  align-items: center;

  

  /* From https://css.glass */
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.90);
  border-radius: 26px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 1);
  transform: translate(10px, -10px);
}

#tutorial-button {
  color: white;
  z-index: 99;
  height: 30px;
  position: absolute;
  bottom: 20px;
  left: 10px;
  padding: 0 10px;

  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.tutorial-gif {
  width: 80%;
  object-fit: cover;
}

@keyframes zoomIn {
  0% { transform: scale(0.5); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}